<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Admin</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/admin/dashboard">Tổng quan</a></li>
        <li><a href="/admin/clients">Khách hàng</a></li>
        <li><a href="/admin/trainers">Gói tập</a></li>
        <li><a href="/admin/schedules">Khoá học</a></li>
        <li><a href="/admin/schedules">Thiết bị</a></li>
        <li><a href="/admin/schedules">Nhân viên</a></li>
        <li><a href="/admin/schedules">Sản phẩm</a></li>
        <li><a href="/admin/schedules">Doanh thu</a></li>

        thiet
      </ul>
    </nav>
  </body>
</html>
